.App {
  background-image: url('./assets/images/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px; 
}

.title {
  color: white;
  font-size: 1.2em; /* Ajusta el tamaño de fuente según sea necesario */
  font-weight: bold;
  width: 100%;
  text-align: center;
}